doctype html
html
    head
        title Canvas Lesson
        include layout/head
    body
        include layout/mixin
        include layout/header
        include layout/main
        include layout/footer

