$bg-header-color1: rgba(255, 255, 255, 0.9);
$bg-header-color2: rgba(255, 255, 255, 0.85);
$bg-header-color3: rgba(255, 187, 139, 0.8);

$textcolor: linear-gradient(to right, #86CB92 0%, #cbc71f 20%, transparent 20%, transparent 80%, #cb3217 80%, #9b96cb 100%);

$descroptionSlider: rgba(31, 31, 31, 1);

$big-note: 'GaramondPremrProSmbd';
$big-note-i: 'GaramondPremrPro-SmbdIt';
$big-i: 'GaramondPremrPro-It';
$main-font: 'GaramondPremrPro';

$ffam-reg: 'Roboto Regular';
$ffam-med: 'Roboto Medium';
$ffam-bold: 'Roboto Bold';
$ffam-light: 'Roboto Light';

$color-text-footer: #83684a;

// Burger-menu
$menu-icon-width: 5.5rem;
$menu-icon-height: $menu-icon-width * 0.75;
$menu-icon-color: #363636;
$menu-icon-color--active: #D00251;